<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brands">
      <app-logo></app-logo>
    </div>
    <div class="menu">
      <ul>
        <li>
          <a href="#">Pay with Visa</a>
        </li>
        <li>
          <a href="#">Patner With Us</a>
        </li>
        <li>
          <a href="#">Run Your Business</a>
        </li>
        <li>
          <a href="#">Travel with Visa</a>
        </li>
        <li>
          <a href="#">Learn About Visa</a>
        </li>
        <li class="search-nav-item" id="secondhtml">
          <span class="sep-line"></span>
          <a><img src="assets/search.png" /></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="navline">
  <div class="nav-indicator-bar" style="background-position: 2500px 0px;">
    <div class="nav-indicator" style="display: none; left: 2500px;">
      <img src="https://usa.visa.com/content/dam/VCOM/nav-assets/global-nav-indicator.png" alt="Navigation Indication" role="presentation">
    </div>
  </div>
</div>
<!-- <div class="content">
  <section class="section">
    <div class="container mainBlock">
      <router-outlet></router-outlet>
    </div>
  </section>
</div> -->